
<div class="row" style="height: 100vh;">
  <div class="col-3 p-4" style="background-color: wheat;">
<app-elements-dashboard></app-elements-dashboard>
  </div>
  <div class="col-9 p-5">
<app-main-screen></app-main-screen>
</div>
</div>



<!-- 
<div class="row d-flex align-items-center">
  <h4>Set your custom style of this button :</h4>
  <div class="col-9">
    <div class="row">
      <div class="col-3">
        <span>background color :</span>
        <input type="text" [(ngModel)]="backgroundColor">
      </div>
      <div class="col-3">
        <span>button Text :</span>
        <input type="text" [(ngModel)]="buttontext">
      </div>
      <div class="col-3">
        <span>border Radius :</span>
        <input type="number" [(ngModel)]="borderRadius">
      </div>
    </div>
  </div>
  <div class="col-3">
    <app-custom-button [backgroundColor]="backgroundColor" [borderRadius]="borderRadius" [buttonText]="buttontext"></app-custom-button>
  </div>
</div>
<div class="row mt-4">
  <h4>Set your custom style of this input text :</h4>
  <div class="col-9">
    <div class="row">
      <div class="col-3">
        <span>background color :</span>
        <input type="text" [(ngModel)]="backgroundColorInput">
      </div>
      <div class="col-3">
        <span>border Radius :</span>
        <input type="number" [(ngModel)]="borderRadiusInput">
      </div>
    </div>
  </div>
  <div class="col-3">
    <app-custom-input-text [backgroundColor]="backgroundColorInput" [borderRadius]="borderRadiusInput"></app-custom-input-text>
</div>
</div> -->